.App {
  text-align: center;
}

.about {
  margin: 10vh 10vw;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: grey;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.results {
  margin: 10vh 10vw;
  border: 1px black solid;
}